# Core FastAPI and server
fastapi
uvicorn
httpx

# Settings management
pydantic-settings

# LLM provider
groq

# Vector DB and embeddings
fastembed

# Data and ML
supabase
xgboost
lightgbm
scikit-learn
pandas
PyJWT
gunicorn

# Web Scraping
beautifulsoup4
lxml